<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница человека</title>
</head>
<body>

<p th:text="${man.getFullName()} + ', ' + ${man.getYearOfBirth()}">VALUE</p>


<div th:text="'Человек пока не взял ни одной книги'"
     th:if="${#lists.isEmpty(man.getBooks())}">
</div>


<div th:text="'Книги: '"
     th:unless="${#lists.isEmpty(man.getBooks())}">
</div>
<div th:each="book : ${man.getBooks()}"
     th:text="${book.getTitle()}">
</div>


<hr>
<a th:href="@{/people/{id}/edit(id=${man.getId()})}">
    <input type="submit" value="Редактировать"/></a>

<form th:method="DELETE" th:action="@{/people/{id}(id=${man.getId()})}">
    <br/>
    <input type="submit" value="Удалить!"/>
</form>

</body>
</html>
