<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница человека</title>
</head>
<body>

<p th:text="${person.getFullName()} + ', ' + ${person.getYearOfBirth()}">VALUE</p>

<div th:text="'Человек пока не взял ни одной книги'"
     th:object="${allBooks}"
     th:if="${#lists.isEmpty(allBookByPersonId)}">
</div>

<div th:each="book : ${allBooks}"
     th:text="'Книги:' + {allBookByersonId}"
     th:object="${allBooks}"
     th:if="${#lists.isEmpty(allBookByPersonId)}">
</div>



<!--<div th:each="person : ${people}">-->
<!--    <a th:href="@{/people/{personId}(personId=${person.getPersonId()})}"-->
<!--       th:text = "${person.getFullName()} + ', ' + ${person.getYearOfBirth()}">user</a>-->
<!--</div>-->
<!--th:href="@{/people/withOutBook}"-->

<hr>
<a th:href="@{/people/{personId}/edit(personId=${person.getPersonId()})}"><input type="submit" value="Редактировать"/></a>

<form th:method="DELETE" th:action="@{/people/{personId}(personId=${person.getPersonId()})}">
    <br/>
    <input type="submit" value="Удалить!"/>

</form>
</body>
</html>


<!--<div th:unless="${user.isAdmin}">-->
<!--    Non-admin block-->
<!--</div>-->
<!--<form th:method="GET" th:action="@{/books/{personId}(personId=${book.getPersonId()})}" th:object="${book}">-->
<!--<a th:text="Человек пока не взял ни одной книги"-->
<!--        th:if="${#fields.isEmpty(${book.getPersonId()})}">view</a>-->

<!--</form>-->
<!--<div th:each="book : ${books}"></div>-->
<!--<a th:text="Книги':' ${book.getTitle()} + ', ' +  ${book.getAuthor()} + ', ' +  ${book.getYear()}"></a>-->
<!--&lt;!&ndash;   th:if="${not #fields.isEmpty(book.getPersonId)}">view</a>&ndash;&gt;-->



<!--    <a href="comments.html"-->
<!--       th:href="@{/product/comments(prodId=${prod.id})}"-->
<!--       th:if="${not #lists.isEmpty(prod.comments)}">view</a>-->

<!--    th:unless="${#lists.isEmpty(prod.comments)}">view</a>-->

<!--<a th:href="@{/people/{personId}/withOutBook(personId=${person.getPersonId()})}"></a>-->
    <!--       th:if="${not #lists.isEmpty(prod.comments)}">view</a>-->