<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Список всех книг</title>
    </head>
    <body>

        <div th:each="book : ${books}"
            th:text = "${book.getTitle()} + ', ' + ${book.getAuthor()}">
        </div>

        <div th:each="i : ${#numbers.sequence(0, pageCount - 1)}" class="red-star">
            <a th:href="@{/books(page=${i})}"
               th:text = "${i}">
            </a>
        </div>

        <form th:method="GET" th:action="@{/books}">
            <label >Выберите страницу</label>
            <select th:object="${bookPerPage}">
                <option th:value="1" th:text="1">1</option>
                <option th:value="2" th:text="2">2</option>
                <option th:value="5" th:text="5">5</option>
            </select>
        </form>

        <br/>
        <hr/>
        <a href="/books/newBook">Добавить книгу</a>
        <br/>
        <a href="/books/search">Искать книгу</a>
    </body>
</html>
