<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Получить книгу по Id</title>
</head>
<body>

<p th:text="${book.getTitle()} + ', ' + ${book.getAuthor()} + ', '+ ${book.getYear()}">VALUE</p>


<div th:if="${fullNameP != null}"
     th:text="'Книга сейчас у: ' + ${fullNameP}">
</div>
<form th:method="PATCH" th:action="@{/books/{bookId}/free(bookId=${book.getBookId()})}">
    <br/>
    <input type="submit" value="Освободить книгу"/>
</form>



<!--Вторая часть-->

<div th:if="${book.getPersonId() == 0}"
     th:text="'Эта книга свободна. Кому назначить ее ?'">


<!--Выпадающий список-->
<form th:method="PATCH" th:action="@{/books/{bookId}/addPersonId(bookId=${book.getBookId()})}">
<label for="allPerson">Выберите человека </label>
<select th:object="${bookId}" th:field="*{personId}" id="allPerson">
    <option th:each="el : ${allPerson}" th:value="${el.getPersonId()}" th:text="${el.getFullName()}">
    </option>
</select>
    <input type="submit" value="Назначить книгу"/>
</form>
</div>


<!--Редактировать и удалить-->
<hr>
<form th:method="PATCH" th:action="@{/books/{bookId}/bookEdit(bookId=${book.getBookId()})}"></form>
<input type="submit" value="Редактировать"/>
<br/>
<form th:method="DELETE" th:action="@{/books/{bookId}(bookId=${book.getBookId()})}"></form>
<br/>
<input type="submit" value="Удалить!"/>


</body>
</html>




<!--<div th:if="${#fields.isNullOrEmpty(fullNameP)}"-->

<!--<div th:if="${#lists.isNullOrEmpty(fullNameP)}"></div>-->

<!--<div th:if="${#strings.isNullOrEmpty(fullNameP)}"-->

<!--&lt;!&ndash;<div th:if="${''.equals(fullNameP)}"&ndash;&gt;-->

<!--&lt;!&ndash;<div th:if="${fullNameP.isEmpty()}"&ndash;&gt;-->

<!--<div th:if="${(fullNameP.equals(null))}"-->

<!--<div th:unless="${#lists == 0}"-->

<!--<div th:unless="${ #lists.size == 1}"-->

