<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Получить книгу по Id</title>
</head>
<body>

<p th:text="${book.getTitle()} + ', ' + ${book.getAuthor()} + ', '+ ${book.getYear()}">VALUE</p>

<div th:if="${owner}">
    <span>Книга сейчас у: </span> <span th:text="${owner.getFullName()}"></span>
    <form th:method="PATCH" th:action="@{/books/{id}/free(id=${book.getId()})}">
        <br/>
        <input type="submit" value="Освободить книгу"/>
    </form>
</div>


<!--Вторая часть-->

<div th:if="${peopleList}">
     <span>Эта книга свободна. Кому назначить ее ?</span>
<!--Выпадающий список-->
    <form th:method="PATCH" th:action="@{/books/{bookId}/addPerson(bookId=${book.getId()})}">
        <label for="peopleList">Выберите человека </label>
        <select th:object="${person}" th:field="*{personId}" id="peopleList">
            <option th:each="el : ${peopleList}" th:value="${el.getId()}" th:text="${el.getFullName()}">
            </option>
        </select>
        <input type="submit" value="Назначить книгу"/>
    </form>
</div>
<!--Редактировать и удалить-->
<!--<hr>-->

    <form th:method="GET" th:action="@{/books/{id}/bookEdit(id=${book.getId()})}">
        <br/>
        <input type="submit" value="Редактировать!"/>
    </form>
<br/>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <br/>
    <input type="submit" value="Удалить!"/>
</form>
</body>
</html>



