<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск книги</title>
</head>
<body>


<form th:method="GET" th:action="@{/books/search}" th:object="${searchBook}">

    <label for="searchBook">Введите поисковой запрос: </label>
    <input type="text" name="title" id="searchBook"/>
    <br/>
    <input type="submit" value="Искать!"/>
</form>

    <div th:if="${searchBook}">
        <p th:text="${searchBook.getTitle()} + ', ' + ${searchBook.getAuthor()} + ', '+ ${searchBook.getYear()}">VALUE</p>
            <span>Книга сейчас у: </span> <span th:text="${searchBook.getPerson().getFullName()}"></span>
        <div th:if="${searchBook.getPerson().getFullName().isEmpty()}">
            <span>Книга свободна</span>
        </div>
    </div>
    <div th:if="${!searchBook}">
        <span>Книг не найдено</span>
    </div>

<!--    <div th:if="${book.getDate()}>today"-->
<!--            style="color:red" >-->
<!--    </div>-->


</body>
</html>