<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск книги</title>
</head>
<body>

<form th:method="GET" th:action="@{/books/search}" th:object="${searchBook}">
    <label for="searchBook">Введите поисковой запрос: </label>
    <input type="text" name="title" id="searchBook"/>
    <br/>
    <br/>
    <input type="submit" value="Искать!"/>
</form>

    <div th:if="${searchBook}"
        th:each="book : ${searchBook}">
        <div th:if="${data}" style="color:red">
        <p th:text="${book.getTitle()} + ', ' + ${book.getAuthor()} + ', '+ ${book.getYear()}">VALUE</p></div>
        <div th:unless="${data}" style="color:black">
            <p th:text="${book.getTitle()} + ', ' + ${book.getAuthor()} + ', '+ ${book.getYear()}">VALUE</p></div>

        <span style="font-weight:bold "> Книга сейчас у: </span>
        <span th:text="${book.getPerson().getFullName()}"></span>

        <div th:if="${book.getPerson().getFullName().isEmpty()}">
            <span>Книга свободна</span>
        </div>
    </div>
    <div th:if="${searchBook.isEmpty()}">
        <br/>
        <span>Книг не найдено</span>
    </div>

</body>
</html>